:root {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body { 
    /*background-image: url(images/table.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
    background-color: #35654d;
    color: white;
    font-weight: bold;
    height: 100vh;
    font-size: 3rem;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 { 
    color: goldenrod;
    font-size: 5rem;
}

p { 
    margin-top: 1rem;
    text-align: center;
}

.new-cards-div {
    height: 10rem;
    width: 5rem;
    background-color: white;
    color: black;
}

#start-game-btn, 
#new-card-btn,
#bet-btn,
#add-funds-btn {
    background-color: goldenrod;
    padding: 1rem;
    width: 50%;
    border-radius: 0.5rem;
    color: #016f32;
    margin: 1rem 0;
    font-size: 2rem;
    border: none;
    font-weight: bold;
}

#error-message {
    background-color: red;
}

